*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: lota;
    src: url(./Fonts/Los\ Andes\ \ Lota\ Grotesque\ Regular.otf);
}

@font-face {
    font-family: bebas;
    src: url(./Fonts/BebasNeue.otf);
}

@font-face {
    font-family: zavraan;
    src: url(./Fonts/BebasNeue\ Thin.otf);
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.block{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #0C4566;
    margin: 0 auto;
    max-width: 1920px;
    font-family: bebas; 
}

.nav-bar{
    margin: 50px 100px 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar > .Logo > a > img{
    width: 270px;
}

.nav-bar > .nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.nav-bar > .nav-btn > .box0 > a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.nav-bar > .nav-btn > .box0{
    transition: all 0.2s ease-out;
}

.nav-bar > .nav-btn > .box0:hover{
    box-shadow: 0 4px 0 0 #A4A726;
}

.social-links{
    display: flex;
    align-items: center;
}

.nav-bar > .social-links > a > img{
    width: 60px;
    transition: all 0.2s ease-in;
}

.nav-bar > .social-links > a > img:hover{
    transform: scale(1.2);
}

.main-content{
    margin: 100px 0;
    display: flex;
    justify-content: center;
}

.main-content > h1{
    text-align: center;
    font-size: 255px;
    color: #FFFFFF;
    letter-spacing: 38px;
}

.Ribbons{
    overflow: hidden;
    max-width: 1910px;
}

.Ribbons img{
    max-width: 1910px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 164px 150px 164px;
    gap: 80px;
}

.left-side h1{
    font-size: 8rem;
    color: #FFFFFF;
    letter-spacing: 5px;
}

.highlight1{
    color: #1999BC;
}

.right-side p{
    font-size: 4rem;
    color: #FFFFFF;
    width: 770px;
}

.zavraan{
    font-family: zavraan;
}

.highlight2{
    color: #A4A726;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 100px;
}

.left-image{
    max-width: 1234px;
}

.left-image img{
    width: 100%;
    height: auto;
    display: block;
}

.right-image{
    max-width: 452px;
}

.right-image img{
    width: 100%;
    height: auto;
    display: block;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 111px;
    margin: 100px;
}

.left-container h1{
    color: #FFFFFF;
    font-size: 8rem;
}

.left-container img{
    width: 400px;
}

.right-container{
    display: flex;
    flex-direction: column;
}

.box1{
    display: flex;
    justify-content: center;
    border-bottom: 1px #FFFFFF solid ;
    padding: 15px 15px 24px 15px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

.box2{
    display: flex;
    justify-content: center;
    padding: 15px 15px 24px 15px;  
}

.icon{
    max-width: 70px;
}

.icon img{
    width: 100%;
    height: auto;
    display: block;
}

.heading{
    display: flex;
    flex-direction: column;
}

.heading h1{
    font-size: 4rem;
    color: #FFFFFF;
}

.heading p{
    font-family: lota;
    font-size: 1.5rem;
    color: #FFFFFF;
}

.Ribbons2{
    overflow: hidden;
}

.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    margin: 0 100px 100px 100px;
}

.heading2 h1{
    color: #FFFFFF;
    font-size: 8rem;
    width: 656px;
    text-align: center;
}

.description p{
    font-size: 4rem;
    color: #FFFFFF;
    text-align: center;
    width: 1567px;
}

.content{
    display: flex;
    gap: 100px;
}

.stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 100px;
}

.stat h1{
    color: #A4A726;
    font-size: 4rem;
}

.stat p{
    color: #FFFFFF;
    font-size: 4rem;
    text-align: center;
}

footer{
    background-color: #FFFFFF;
}

.owner{
    color: #0C4566;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    border-bottom: #0C4566 1px solid;
}

.footer{
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact h1{
    color: #0C4566;
    font-size: 4rem;
}

.contact p{
    color: #1999BC;
    font-size: 4rem;
}

.Slogan h1{
    font-size: 10rem;
    color: #0C4566;
}

.watermark > a{
    text-decoration: none;
}

.watermark > a > p{
    margin: 5px 0;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 2rem;
}

.social-linkss > a > img{
    width: 100px;
    transition: all 0.2s ease-in;
}

.social-linkss > a > img:hover{
    transform: scale(1.2);
}

@media (min-width: 320px) and (max-width: 768px){
    body{
        background-color: #0c4566;
        font-family: bebas;
    }
    .nav-bar{
        display: flex;
        justify-content: center;
    }
    .Logo > a > img{
        width: 200px;
    }
    .nav-btn{
        display: none !important; 
    }
    .social-links{
        display: none;
    }
    #Images{
        display: none;
    }
    .Ribbons2{
        display: none;
    }
    .main-content{
        margin: 20px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-content h1{
        text-align: center;
        font-size: 8rem;
        color: #FFFFFF;
        letter-spacing: 0px;
    }
    .Ribbons{
        overflow: hidden;
    }
    .Ribbons img{
        max-width: 1000px;
    }
    .zavraan{
        font-family: zavraan;
    }
    .highlight1{
        color: #1999BC;
    }
    .highlight2{
        color: #A4A726;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        max-width: 500px;
    }
    .left-side h1{
        font-size: 4rem;
        text-align: center;
        color: #FFFFFF;
        width: 100%;
        letter-spacing: 0px;
    }
    .right-side p{
        font-size: 3rem;
        text-align: center;
        color: #FFFFFF;
        width: 100%;
    }
    .container2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin: 100px 0;
    }
    .left-container h1{
        font-size: 4rem;
        color: #FFFFFF;
        text-align: center;
        width: 100%;
    }
    .right-container{
        display: flex;
        flex-direction: column;
    }
    .box1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-bottom: #FFFFFF 1px solid;
        padding: 10px 0;
        margin: 0 40px;
    }
    .box2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0 40px;
    }
    .icon img{
        max-width: 70px;
    }
    .heading{
        display: flex;
        flex-direction: column;
    }
    .heading h1{
        font-size: 2rem;
        color: #FFFFFF;
        letter-spacing: 2px;
        text-align: center;
    }
    .heading p{
        font-family: lota;
        font-size: 1rem;
        color: #FFFFFF;
        text-align: center;
    }
    .container3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 0 40px;
        max-width: 500px;
    }
    .heading2 h1{
        color: #FFFFFF;
        font-size: 4rem;
        text-align: center;
        width: 100%;
    }
    .description p{
        font-size: 3rem;
        color: #FFFFFF;
        text-align: center;
        width: 100%;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .stat{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .stat h1{
        color: #A4A726;
        font-size: 4rem;
        text-align: center;
    }
    .stat p{
        color: #FFFFFF;
        font-size: 3rem;
        text-align: center;
        width: 250px;
    }
    footer{
        background-color: #FFFFFF;
    }
    .owner{
        color: #0c4566;
        padding: 10px;
        text-align: center;
        font-size: 1rem;
        border-bottom: #0c4566 1px solid;
    }
    .footer{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .contact h1{
        color: #0c4566;
        font-size: 4rem;
        text-align: center;
    }
    .contact p{
        color: #1999BC;
        text-align: center;
        font-size: 2rem;
        width: 100%;
    }
    .social-linkss{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social-linkss > a > img{
        width: 100px;
    }
    .Slogan{
        display: none;
    }
    .watermark > a{
        text-decoration: none;
    }
    .watermark > a > p{
        margin: 5px 0;
        display: flex;
        justify-content: center;
        color: #FFFFFF;
        font-size: 1.5rem;
    }
}